


*{
    font-family: "merivaregular";
   margin: 0%;
   
    
   
}
.body{
  margin: 0%;
   padding: 0%;
}
.imgm{
    width: 100%; 
    height: 600px;
    display: flex;
    
}


.main-body-container{
    height: 550px;
    margin-top: 8px;
  margin: 0%;
  

}
.left_body_container{
    width: 50%;
    height: 600px;
    float: left;
    background-color:#4b1171;
    margin: 0%;
    
    
}
.right-body-container{
    width: 50%;
    height: 500px;
    float:right;
    background-color: white;
   
}
.k1{
    position: absolute;
    margin-top: 100px;
    margin-left: 130px;
    color: white;
    font-size: 3em;
}
.k2{
    position: absolute;
    color: purple;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400px;
    
    
    
}
.k3{
    position: absolute;
    color:purple ;
    margin-top: 200px;
    margin-left: 150px;
}
.img1{
    width: 1263px;
}

.a2{
    position: absolute;
    margin-left: 800px;
    margin-top: 60px;
}
.a3{
    position: absolute;
    margin-left: 400px;
    margin-top: 60px;

    
}
.a4{
    position: absolute;
    margin-top:60px;
    margin-left: 10px;
}
.a5{
    position: absolute;
    height: 30px;
    padding-left: 900px;
    padding-top: 175px;
}
.a6{
    position: absolute;
    height: 50px;
    padding-left: 790px;
    padding-top: 164px;
}
.a7{
    position: absolute;
    height: 30px;
    padding-left: 850px;
    padding-top: 175px;

}
.a8{
    position: absolute;
    height: 30px;
    padding-left: 950px;
    padding-top: 175px;
}
.c1{
    background-color: rgb(1, 5, 33);
    width: 100%;
    height: 70px;
  
   
}
.navb{
    display: flex;
    color: white;
    
    padding-left: 280px;
    margin-top: -5px;

   
    font-size: 1em;
}
.navb1{
    text-decoration: none;
    padding: 30px;
}
.b1{
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;  
    
}



